@charset "UTF-8";

@media screen and (max-width: 768px) {
    header > nav {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        width: 100%;
    }

    header > nav > a {
        flex: 0 0 100%;
    }
}