@charset "UTF-8";

div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    background-color: red;
    color: white;
    grid-row-start: 1;
    grid-row-end: -3;
    grid-column-start: 1;
    grid-column-end: -1;
}

div.caixa2 {
    background-color: green;
    color: white;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -3;
}

div.caixa3 {
    background-color: blue;
    color: white;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
}